In [ ]:
import pandas as pd
import json
import os

In [ ]:
f = open('.\\PennFudanPed\\PennFudanPed_train.json',)
data = json.load(f)
df = pd.json_normalize(data['images'])
df

In [14]:
df1 = pd.json_normalize(data["annotations"])
df1

,area,iscrowd,bbox,category_id,image_id,id,ignore,segmentation
0,35947,0,"[66.0, 60.0, 103.0, 349.0]",1,0,0,0,[]
1,28812,0,"[154.0, 90.0, 98.0, 294.0]",1,0,1,0,[]
2,28809,0,"[227.0, 93.0, 97.0, 297.0]",1,0,2,0,[]
3,28710,0,"[416.0, 100.0, 99.0, 290.0]",1,0,3,0,[]
4,39615,0,"[594.0, 111.0, 139.0, 285.0]",1,0,4,0,[]
...,...,...,...,...,...,...,...,...
278,28595,0,"[146.0, 83.0, 95.0, 301.0]",1,118,278,0,[]
279,24871,0,"[233.0, 69.0, 77.0, 323.0]",1,118,279,0,[]
280,23144,0,"[341.0, 87.0, 88.0, 263.0]",1,118,280,0,[]
281,6375,0,"[12.0, 57.0, 51.0, 125.0]",1,118,281,0,[]
282,39198,0,"[201.0, 83.0, 139.0, 282.0]",1,119,282,0,[]

In [12]:
f = open('.\\PennFudanPed\\PennFudanPed_full.json',)
data = json.load(f)
df = pd.json_normalize(data['images'])
df

                                    file_name  height  width   id
0    PennFudanPed/PNGImages/FudanPed00001.png     536    559    0
1    PennFudanPed/PNGImages/FudanPed00002.png     414    455    1
2    PennFudanPed/PNGImages/FudanPed00003.png     445    479    2
3    PennFudanPed/PNGImages/FudanPed00004.png     397    396    3
4    PennFudanPed/PNGImages/FudanPed00005.png     344    335    4
..                                        ...     ...    ...  ...
165   PennFudanPed/PNGImages/PennPed00092.png     447    600  165
166   PennFudanPed/PNGImages/PennPed00093.png     311    368  166
167   PennFudanPed/PNGImages/PennPed00094.png     349    422  167
168   PennFudanPed/PNGImages/PennPed00095.png     375    512  168
169   PennFudanPed/PNGImages/PennPed00096.png     331    294  169

[170 rows x 4 columns]

In [ ]:
#patch_size = 64,128
#avg image size = 300,400
def create_positive_samples(train_json, pos_dir):
    if(os.path.exists(pos_dir)==False):
        os.mkdir(pos_dir)
    f = open('.\\PennFudanPed\\PennFudanPed_train.json',)
    data = json.load(f)
    train_df = pd.json_normalize(data['annotations'])